In [1]:
tup = (1, 2, 3)
list1 = [1, 2, 3]

In [9]:
id(tup)

4539460352

In [10]:
id(list1)

4534943232

In [11]:
list1.append(4)

In [12]:
id(list1)

4534943232

In [13]:
for i in range(100):
    list1.append(i)

In [14]:
id(list1)

4534943232

In [15]:
for i in range(10000):
    list1.append(i)

In [17]:
id(list1)

4534943232

In [18]:
t = ([1, 2, 3], [4, 5, 6])

In [19]:
t

([1, 2, 3], [4, 5, 6])

In [21]:
t[0].append(100)

In [22]:
t

([1, 2, 3, 100, 100], [4, 5, 6])

In [23]:
type(t)

tuple

In [28]:
list1 = [(1, 2, 3), (4, 5, 6)]
type(list1)

list

In [34]:
tup = ([1, 2, 3], [4, 5, 6])
type(tup)

tuple

In [35]:
tup[0].append(1314520)
tup

([1, 2, 3, 1314520], [4, 5, 6])

In [36]:
l = [1, 2, 3]
l.__sizeof__()

64

In [38]:
tup = (1, 2, 3)
tup.__sizeof__()

48

In [39]:
l = [1, 2, 3]
l.__sizeof__()

64

In [41]:
tup = (1, 2, 3)
tup.__sizeof__()

48

In [42]:
l = []

In [44]:
l.__sizeof__() # 空列表的存储空间为40字节

40

In [45]:
l.append(1)

In [46]:
l.__sizeof__()

72

In [47]:
l.append(2)
l.append(3)
l.__sizeof__()

72

In [48]:
l

[1, 2, 3]

In [49]:
python3 -m timeit 'x=(1,2,3,4,5,6)'

SyntaxError: invalid syntax (<ipython-input-49-e01ffc1b17ae>, line 1)